<link rel="stylesheet" href="http://localhost:3000/css/header.css">

<div class="header container-fluid">
   <div class="header-container container-xxl">
      <ul class="directional__list">
         <li id="home" class="directional__item">
            <a class="direct" href="/">
               <i class="fal fa-home"></i>
               <span class="directional__title">Trang chủ</span>
               {{#if homePage}}
               <span class="mark-page"></span>
               {{/if}}
            </a>
         </li>
          <li id="trending" class="directional__item">
            <a class="direct" href="">
               <i class="fal fa-file-alt"></i>
               <span class="directional__title">Tài liệu HOT</span>
               {{#if trendingPage}}
               <span class="mark-page"></span>
               {{/if}}
            </a>
         </li>
         <li id="document" class="directional__item">
            <a class="direct" href="">
               <i class="fal fa-file-user"></i>
               <span class="directional__title">Tài liệu của tôi</span>
               {{#if documentPage}}
               <span class="mark-page"></span>
               {{/if}}
            </a>
         </li>
         <li id="profile" class="directional__item">
            <a class="direct" href="/profile">
               <i class="fal fa-address-card"></i>
               <span class="directional__title">Hồ sơ của tôi</span>
               {{#if profilePage}}
               <span class="mark-page"></span>
               {{/if}}
            </a>
         </li>
      </ul>

      <div class="account">
         {{#if username}}
         {{!-- when logged in --}}
         <div class="account-logged-in">
            <div class="account-logged-in__avatar" style="background-image: url('/img/avatars/small/{{_id}}-small.jpg');">
                  
               {{!-- Hover --}}
               <div class="account-logged-in__avatar--hover">
                  <a href="/profile" class="account-logged-in__avatar--hover-profile">
                     <div class="account-logged-in__avatar--hover-profile-avatar" style="background-image:url('/img/avatars/large/{{_id}}-large.jpg')"></div>
                     <div class="account-logged-in__avatar--hover-profile-infomation">
                        <span class="account-logged-in__avatar--hover-profile-infomation-name">
                           <i class="fal fa-edit"></i>
                           <p>{{name}}</p>
                        </span>
                        <span class="account-logged-in__avatar--hover-profile-infomation-gmail">
                           <i class="fal fa-envelope"></i>
                           <p>{{gmail}}</p>
                        </span>
                     </div>
                  </a>
                  <a class="account-logged-in__avatar--hover-logout" href="/logout">
                     <span class="account-logged-in__avatar--hover-logout-container">
                        <i class="fal fa-sign-out-alt"></i>
                        <p>Đăng xuất</p>
                     </span>
                  </a>
               </div>
            </div>
         </div>

         {{else}}
         {{!-- when not logged in --}}
         <div class="account-not-logged">
            <a href="/login" class="account-not-logged__login">Đăng nhập</a>
            <div class="account-not-logged__seperate"></div>
            <a href="/register" class="account-not-logged__register">Đăng ký</a>
         </div>
         {{/if}}
      </div>
   </div>
</div>
<div class="layout"></div>