<div class="grid profile">
    {{!-- Profile Container --}}
    <div class="grid wide profile-container">

        {{!-- Row --}}
        <div class="row">
            <div class="profile-container__avatar col l-3 m-4 c-0">
                <div class="profile-container__avatar-container">
                    <label for="avatar-input">
                        <div style="background-image: url(/{{avatar}})" class="profile-container__avatar-container-img">
                            <div class="profile-container__avatar-container-img-hover">
                                <i class="fal fa-exchange"></i>
                            </div>
                        </div>
                    </label>
                    <div class="profile-container__avatar-container-name">{{name}}</div>
                    <div class="profile-container__avatar-container-gmail">{{gmail}}</div>
                    <form class="profile-container__avatar-container-upload-avatar" action="/profile/upload-avatar/{{_id}}" method="post" enctype="multipart/form-data">
                        <input name="avatar" id="avatar-input" class="profile-container__avatar-container-upload-avatar-input" type="file" >
                        <button type="submit">Cập nhật Avatar</button>
                    </form>
                </div>
            </div>

            <div class="profile-container__infomation col l-9 m-8 c-12">
                <div class="profile-container__infomation-container">
                    <span class="profile-container__infomation-container-title">CHỈNH SỬA THÔNG TIN</span>
                    <form class="profile-container__infomation-container-form-change" action="/profile" method="post">
                        <input type="text" value="{{_id}}" name="id" style="display: none">
                        <label for="">Họ và Tên</label>
                        <input type="text" name="name" value="{{name}}">
                        <label for="">Địa chỉ Gmail</label>
                        <input type="text" name="gmail" value="{{gmail}}">
                        
                        <button type="submit">Cập nhật</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    const uploadField = document.getElementById("avatar-input");
    const buttonUpload = document.querySelector('.profile-container__avatar-container-upload-avatar button')

    buttonUpload.onclick = function (e) {
        if (uploadField.value == '') {
            alert('Vui lòng nhấn vào ảnh phía trên để tải lên ảnh đại diện!!!')
        }
    }

    uploadField.onchange = function() {
        if(uploadField.files[0].size > 5 * 1024 * 1024){
            alert("Dung lượng tệp giới hạn là 5MB, vui lòng chọn tệp nhỏ hơn!!!");
            this.value = "";
        };
    };


</script>