<div class="register">
   <div class="register-background"></div>

   <form method="post" action="/register" class="register-form" >
      <div class="register-form__header">
         <div class="register-form__seperate"></div>
         <p class="register-form__title">Đăng ký</p>
      </div>
      
      <div class="register-form__avatar">
         {{!-- AVATAR IMAGE --}}
         <div class="register-form__avatar-icon">
            <img src="svg/add-user.svg" alt="">
         </div>
      </div>
      
      <div id="regName" {{#if nameMessage}}class="fail"{{/if}}>
         <input type="text" name="name" value="{{name}}" placeholder="Họ và tên...">
         {{#if nameMessage}}
         <span class="register-message register-message-name"><p>{{nameMessage}}</p></span>
         {{/if}}
      </div>


      <div class="username-and-password">
         <div id="regUsername" {{#if usernameMessage}}class="fail"{{/if}}>
            <input type="text" name="username" value="{{username}}" placeholder="Tên đăng nhập..." autocomplete="off">
            {{#if usernameMessage}}
            <span class="fail register-message register-message-username">{{usernameMessage}}</span>
            {{/if}}
         </div>

         <div id="regPassword" {{#if passwordMessage}}class="fail"{{/if}}>
            <input type="password" name="password" value="{{password}}" placeholder="Mật khẩu...">
            {{#if passwordMessage}}
            <span class="register-message register-message-password">{{passwordMessage}}</span>
            {{/if}}
         </div>
      </div>


      <div id="regGmail" {{#if gmailMessage}}class="fail"{{/if}}>
         <input type="text"  name="gmail" value="{{gmail}}" placeholder="Gmail của bạn...">
         {{#if gmailMessage}}
         <span class="register-message register-message-gmail">{{gmailMessage}}</span>
         {{/if}}
      </div>
      <button class="btn register-btn" type="submit"><p>ĐĂNG KÝ</p></button>
   </form>
</div>


<script>
   const $ = document.querySelector.bind(document)
   const $$ = document.querySelectorAll.bind(document)

   let name = $('#regName')
   let currentHTMLName = $('#regName').innerHTML

   name.addEventListener('focusout', function (e) {

      if (e.target.value.length > 50) {
         name.classList.add('fail')
      } else {
         name.classList.remove('fail')
      }
   })

   //WARNING ICON ON REGISTER MESSAGE
   const registerMessage = $$('.register-message')
   for (let element of registerMessage) {
      element.innerHTML = `<img src="svg/warning.svg" alt="">${element.innerHTML}`
   }

</script>