<link rel="stylesheet" href="/css/profile/changePassword.css"> 
<link rel="stylesheet" href="/css/general/message.css">
<link rel="stylesheet" href="/css/toastMessage.css">

<div class="grid profile">
    {{!-- Profile Container --}}
    <div class="grid wide profile-container">

        {{!-- Row --}}
        <div class="row sm-gutters">
            <div class="profile-container__avatar col l-3 m-0 c-0">
                <div class="profile-container__avatar-container">
                    <label class="profile-container__avatar-container-avatar" for="avatar-input">
                        <div class="profile-container__avatar-container-img">
                            <img src="{{#if avatar}}/img/avatars/large/{{_id}}-large.jpg{{else}}/svg/user-login.svg{{/if}}" alt="">
                            <div class="profile-container__avatar-container-img-hover">
                                <i class="fal fa-exchange"></i>
                            </div>
                        </div>
                    </label>
                    <div class="profile-container__avatar-container-name">{{name}}</div>
                    <div class="profile-container__avatar-container-gmail">{{gmail}}</div>
                    <label class="profile-container__avatar-container-upload-button" for="avatar-input">
                        <span class="profile-container__avatar-container-upload-button-content">Thay đổi Avatar</span>
                    </label>
                    <form class="profile-container__avatar-container-upload-avatar"action="/profile/upload-avatar/{{_id}}" method="post" enctype="multipart/form-data">
                        <input name="avatar" id="avatar-input"  accept=".png, .jpg, .jpeg" class="profile-container__avatar-container-upload-avatar-input" type="file" >
                        <button class="avatar-button"></button>
                    </form>
                </div>
            </div>

            <div class="profile-container__infomation col l-6 m-8 c-12">
                <div class="profile-container__infomation-container">
                    <span class="profile-container__infomation-container-title">
                        <i class="profile-container__infomation-container-title-icon"></i>
                        <p class="profile-container__infomation-container-title-content">THAY ĐỔI MẬT KHẨU</p>
                    </span>
                    <form class="profile-container__infomation-container-form-change" action="/profile/change-password" method="post">
                        <input type="text" value="{{_id}}" name="id" style="display: none">
                        <label for="oldPassword">Mật khẩu cũ</label>
                        <input id="oldPassword" name="oldPassword" type="password">
                        <label for="newPassword">Mật khẩu mới</label>
                        <input id="newPassword" name="newPassword" type="password" name="newPassword">
                        <label for="newPasswordAgain">Xác nhận mật khẩu mới</label>
                        <input id="newPasswordAgain" name="newPasswordAgain" type="password" name="gmail">
                        <span class="profile-container__infomation-container-form-change-button-container">
                            <button class="profile-button btn">Cập nhật</button>
                        </span>
                    </form>

                    <div class="profile-container__infomation-container-back"></div>
                </div>
            </div>

            <div class="profile-container__menu col l-3 m-0 c-0">
                <div class="profile-container__menu-list">
                    <a href="/profile" class="profile-container__menu-list__item">
                        <span class="profile-container__menu-list__item-seperate"></span>
                        <span class="profile-container__menu-list__item-content">Thông tin Cá nhân</span>
                        <div class="profile-container__menu-list__item-icon">
                            <img src="/svg/user-menu.svg" alt="">
                        </div>
                    </a>
                    <a href="#" class="profile-container__menu-list__item current">
                        <span class="profile-container__menu-list__item-seperate"></span>
                        <span class="profile-container__menu-list__item-content">Thay đổi Mật khẩu</span>
                        <div class="profile-container__menu-list__item-icon">
                            <img src="/svg/security.svg" alt="">
                        </div>
                    </a>

                    <a href="/" class="profile-container__menu-list__item">
                        <span class="profile-container__menu-list__item-seperate"></span>
                        <span class="profile-container__menu-list__item-content">Trở lại Trang chủ</span>
                        <div class="profile-container__menu-list__item-icon">
                            <img src="/svg/house.svg" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- ACCEPT UPDATE AVATAR --}}
<div class="avatar-update-accept-layout">
    <div class="avatar-update-accept-layout__container">
        <div class="avatar-update-accept-layout__container-avatar">
            <img class="avatar-update-accept-layout__container-avatar-main" alt="">
            <img class="avatar-update-accept-layout__container-avatar-background" alt="">
        </div>
        <div class="avatar-update-accept-layout__container-header-title">Bạn chắc chắn muốn đổi avatar mới này?</div>
        <div class="avatar-update-accept-layout__container-button-container">
            <button class="btn">
                <p>Đồng ý</p>
            </button>
            <button class="btn">
                <p>Hủy</p>
            </button>
        </div>
    </div>
</div>

<ul class="toast-message">
    <li class="toast-message-error toast-message-old-password-error">
        <i class="toast-message-error-icon toast-message-icon"></i>
        <span class="toast-message-error-container toast-message-container">
            <h2 class="toast-message-error-title toast-message-title"></h2>
            <p class="toast-message-error-content toast-message-content"></p>
        </span>
        <i class="toast-message-error-cancel toast-message-icon-cancel"></i>
    </li>
    <li class="toast-message-warning toast-message-old-password">
        <i class="toast-message-warning-icon toast-message-icon"></i>
        <span class="toast-message-warning-container toast-message-container">
            <h2 class="toast-message-warning-title toast-message-title"></h2>
            <p class="toast-message-warning-content toast-message-content"></p>
        </span>
        <i class="toast-message-error-cancel toast-message-icon-cancel"></i>
    </li>
    <li class="toast-message-warning toast-message-new-password">
        <i class="toast-message-warning-icon toast-message-icon"></i>
        <span class="toast-message-warning-container toast-message-container">
            <h2 class="toast-message-warning-title toast-message-title"></h2>
            <p class="toast-message-warning-content toast-message-content"></p>
        </span>
        <i class="toast-message-error-cancel toast-message-icon-cancel"></i>
    </li>
     <li class="toast-message-warning toast-message-new-password-again">
        <i class="toast-message-warning-icon toast-message-icon"></i>
        <span class="toast-message-warning-container toast-message-container">
            <h2 class="toast-message-warning-title toast-message-title"></h2>
            <p class="toast-message-warning-content toast-message-content"></p>
        </span>
        <i class="toast-message-error-cancel toast-message-icon-cancel"></i>
    </li>
    {{#if changedPassword}}
    <li class="toast-message-successfully  toast-message-changed">
        <i class="toast-message-successfully-icon toast-message-icon"></i> 
        <span class="toast-message-successfully-container toast-message-container">
            <h2 class="toast-message-successfully-title toast-message-title">Đổi mật khẩu</h2>
            <p class="toast-message-successfully-content toast-message-content">Mật khẩu đã thay đổi thành công!!!</p>
        </span>
        <i class="toast-message-icon-cancel"></i>
        <div class="toast-message-timing"></div>
    </li>
    <script src="/js/profile/changePasswordSuccessfully.js"></script>
    {{/if}}
</ul>

<span id="userID" style="display: none;">{{_id}}</span>

<script src="/js/profile/changePassword.js"></script>